* {
	vertical-align: middle;
}

body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	overflow: hidden;
}

hr {
	border: 0px;
	border-top: 1px solid #ccc;
}

button {
	position: relative;
}

.Panel {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

	/* No support for these yet */
	-o-user-select: none;
	user-select: none;
}

.FancySelect {
	background: #fff;
	border: 1px solid #ccc;
	padding: 0;
	cursor: default;
	overflow: auto;
	outline: none;
}

	.FancySelect .option {
		padding: 4px;
		color: #666;
		white-space: nowrap;
	}

	.FancySelect .option.active {
		background-color: #f8f8f8;
	}

input.Number {
	color: #0080f0;
	font-size: 12px;							/** TODO: Use of !imporant is not ideal **/
	background-color: transparent!important;	/* For now this is a quick fix a rendering issue due to inherited background */
	border: 1px solid transparent;
	padding: 2px;
	cursor: col-resize;
}

#viewport {
	position: absolute;
    height: 100%;
	left: 0px;
	right: 300px;
}

#sidebar {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 300px;
	background: #eee;
	overflow: auto;
    bottom: 0;
}

	#sidebar input,
	#sidebar textarea,
	#sidebar select {
		/* background: #ccc; */
	}

	#sidebar .Panel {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#sidebar > .Panel {
		color: #888;
		padding: 10px;
		border-top: 1px solid #ccc;
	}

	#sidebar #outliner {
		width: 100%;
		height: 140px;
		color: #444;
		font-size: 12px;
	}

    #sidebar button {
        margin-right: 3px;
    }

    #sidebar .right {
        float: right;
    }


